* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

header {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px; /* Adjust as needed */
  margin-left: 20px; /* Adjust as needed */
}

.logo h1 {
  color: #fff;
  margin-left: 20px;
  font-size: 20px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

.menu li a:hover {
  background-color: #555;
}

.menu-button {
  display: none;
  cursor: pointer;
  margin-right: 10px;
}

.menu-button .bar {
  width: 25px;
  height: 1px;
  margin: 5px 0;
  transition: 0.4s;
  background-color: #ffffff;
}

/*hero*/

.hero {
  margin: auto;
  display: flex;
}

.hero .image-container, .hero .intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero .image-container img {
  border: 4px solid white;
  border-radius: 50%;
  max-width: 300px;
}

.hero .image-container .inner-container {
  display: flex;
  border: 4px solid #333;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.hero .intro h1,.hero .intro p  {
  padding: 5px 0px;
}

/* sections */

section {
  max-width: 900px;
  width: 100%;
  padding: 90px 0px;
  margin: auto;
  display: block;
}

section .title {
  padding: 15px 0px;
  color: #6d6d6d;
  font-weight: 200px;
  font-family: Open Sans, sans-serif;
  border-bottom: 2px solid #e6e6e6;
}

section .body {
  padding: 15px 0px;
}

section .hr-body {
  display: flex;
  flex-wrap: wrap;
}

/* cards */

.vertical-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.vertical-card .logo-img {
  width: 70px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
  margin-right: 20px;
  border-radius: 50px;
}

.vertical-card .details {
  font-size: 16px;
}

.vertical-card .details p {
  margin: 5px 0;
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.tech-card .logo-img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}

.tech-card h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.social-card {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
}

.social-card img {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  object-fit: cover; /* Ensure the image fills the specified dimensions */
  border-radius: 50%; /* To make it circular */
}

.social-card .name {
  margin-top: 10px; /* Adjust spacing between image and name */
  font-size: 16px; /* Adjust font size as needed */
}

/* form */
.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form .success-text {
  color: green;
  font-size: 14px;
  margin-top: 5px;
  padding: 5px 0px;
  transition: 0.3s;
}

.contact-form .error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  padding: 5px 0px;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}




@media screen and (max-width: 900px) {
  a {
    word-break: break-all;
  }

  header nav {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    background-color: inherit;
  }

  .nav-bar-hide {
    display: none;
  }

  .menu li {
    display: block;
  }

  .menu li a {
    display: block;
  }

  .menu-button {
    display: block;
  }

  .hero {
    flex-direction: column;
  }
  .hero .image-container, .hero .intro-container {
    width: 100%;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
  }

  .hero .image-container img {
    width: 100%;
  }

  section {
    padding: 10px;
  }
  section .hr-body {
    justify-content: center;
  }

  
  
}


